.gl-new-dropdown {
  .dropdown-menu {
    @include gl-bg-white;
    @include gl-border-1;
    @include gl-border-gray-200;
    @include gl-mt-2;
    @include gl-p-0;
    @include gl-py-3;
    @include gl-rounded-base;
    @include gl-shadow-x0-y2-b4-s0;
    overflow-y: auto;
    width: $gl-dropdown-width;
    max-height: $gl-max-dropdown-max-height;

    .gl-search-box-by-type {
      @include gl-m-3;
    }
  }

  .dropdown-menu li {
    @include gl-p-0;
  }

  .gl-new-dropdown-header-top {
    @include gl-border-1;
    @include gl-border-b-solid;
    @include gl-border-gray-200;
    @include gl-display-flex;
    @include gl-font-base;
    @include gl-font-weight-bold;
    @include gl-justify-content-center;
    @include gl-line-height-normal;
    @include gl-m-0;
    @include gl-mb-3;
    @include gl-pb-3;
    @include gl-px-5;
  }

  .dropdown-toggle {
    // Remove bootstrap's dropdown caret
    &::after {
      @include gl-display-none;
    }

    &.gl-button {
      @include gl-pr-3;
    }
  }

  .dropdown-toggle-split {
    &::after {
      @include gl-border-0;
      @include gl-content-empty;
      @include gl-display-block;
      @include gl-w-5;
      @include gl-h-5;
      @include gl-bg-chevron-down;
    }

    &.btn-success,
    &.btn-info,
    &.btn-warning,
    &.btn-danger {
      margin-left: 1px;

      &::after {
        filter: brightness(0) invert(1);
      }
    }

    &[class*='-secondary'] {
      margin-left: -1px;
    }

    &.gl-button {
      @include gl-px-3;
    }
  }

  .gl-dropdown-toggle.btn-block {
    @include gl-justify-content-space-between;
  }

  .gl-new-dropdown-button-text {
    @include gl-mr-auto;
    @include gl-overflow-hidden;
    @include gl-text-overflow-ellipsis;
  }

  // Fix rounded split dropdown button: https://gitlab.com/gitlab-org/gitlab-ui/issues/626
  &.dropdown.show .dropdown-toggle-split {
    @include gl-rounded-top-left-none;
    @include gl-rounded-bottom-left-none;
  }

  // The `&.dropdown` is necessary to strengthen the specificity of these selectors
  &.dropdown {
    &.btn-sm .gl-icon {
      @include gl-mt-0;
      @include gl-mb-0;

      &.dropdown-chevron {
        @include gl-h-5;
        @include gl-w-5;
      }
    }

    .gl-button .dropdown-chevron,
    .dropdown-chevron {
      @include gl-ml-2;
      @include gl-mr-0;
    }
  }

  .dropdown-icon {
    @include gl-mr-2;
  }

  .dropdown-icon-text,
  .dropdown-icon-only {
    @include gl-pl-3;
  }

  .dropdown-icon-only {
    .dropdown-icon {
      @include gl-mr-0;
    }
  }

  .split-content-button {
    @include gl-px-4;
  }
  .icon-split-content-button {
    @include gl-pl-3;
    .dropdown-icon {
      @include gl-mr-0;
    }
  }
}
